openapi: 3.1.0
info:
  title: API Integrasi BPDP - SEMAI
  description: |-
    Spesifikasi API untuk pertukaran data antara sistem BPDP dan SEMAI, mencakup manajemen file dan tarif pungutan.

    * _untuk *url dan paramater* masih bisa disesuaikan, ini gambaran kebutuhan untuk sistem levy (sibilly)_
  version: 1.0.0
servers:
  - url: https://api.bpdp.com/v1
    description: Server API BPDP
  - url: https://api.semai.com/v1
    description: Server API SEMAI
tags:
  - name: Rekening Koran
    description: API untuk rekening koran.
  - name: Master KepMenDag Merek
    description: API untuk Master KepMenDag Merek.
  - name: Tarif Pungutan
    description: API untuk sinkronisasi data tarif pungutan.
paths:
  /generate-pdf/rekening-koran/outbound:
    post:
      summary: Rekening KORAN (BPDP ke SEMAI)
      description: BPDP mengirim notifikasi ke SEMAI tentang file REKENING KORAN yang baru diunggah. SEMAI akan memproses file tersebut menggunakan URL yang diberikan.
      tags:
        - Rekening Koran
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - file_id
                - file_url
                - category
                - request_id
              properties:
                file_id:
                  type: integer
                  description: ID file upload di database BPDP.
                  example: 1
                file_url:
                  type: string
                  format: uri
                  description: URL untuk mengakses file.
                  example: https://example.com/storage/uploads/rekening-koran/evidence/file.xlsx
                category:
                  type: string
                  description: Kategori file upload, seperti "rekening_koran", "kepmendag_merek", dll.
                  example: rekening_koran
                request_id:
                  type: string
                  format: uuid
                  description: UUID dari BPDP untuk request ini.
                  example: RAND-UUID
      responses:
        '200':
          description: Notifikasi berhasil diterima oleh SEMAI.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '400':
          description: Request tidak valid.
        '403':
          description: Akses ditolak.

  /generate-pdf/rekening-koran/inbound:
    post:
      summary: Rekening koran (SEMAI ke BPDP)
      description: SEMAI mengirim data Rekening Koran yang sudah diproses ke BPDP.
      tags:
        - Rekening Koran
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - file_id
                - request_id
                - category
                - row_count
                - rows
              properties:
                file_id:
                  type: integer
                  description: ID file upload di database SEMAI.
                  example: 123
                request_id:
                  type: string
                  format: uuid
                  description: UUID dari SEMAI untuk request ini.
                  example: RAND-UUID
                category:
                  type: string
                  description: Kategori file upload, seperti "rekening_koran", "kepmendag_merek", dll.
                  example: rekening_koran
                row_count:
                  type: integer
                  description: Jumlah baris data dalam array 'rows'.
                  example: 20
                rows:
                  type: array
                  description: Isi data dalam bentuk array.
                  items:
                    type: object
                    description: Struktur data dari setiap baris.
                    required:
                      - tanggal_transaksi
                      - bank
                      - kode_billing
                      - jumlah_pungutan
                    properties:
                      tanggal_transaksi:
                        type: string
                        format: date
                        description: Tanggal transaksi.
                        example: "2025-01-01"
                      bank:
                        type: string
                        description: Nama bank.
                        example: "BCA"
                      kode_billing:
                        type: string
                        description: Kode billing.
                        example: "1234567890"
                      jumlah_pungutan:
                        type: number
                        format: float
                        description: Jumlah pungutan dalam bentuk angka.
                        example: 100000.00
            example:
              file_id: 123
              request_id: "RAND-UUID"
              category: "rekening_koran"
              row_count: 20
              rows:
                - tanggal_transaksi: "2025-01-01"
                  bank: "BCA"
                  kode_billing: "1234567890"
                  jumlah_pungutan: 100000.00
      responses:
        '200':
          description: Data berhasil diterima dan diproses oleh BPDP.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '400':
          description: Request tidak valid.
        '403':
          description: Akses ditolak.

  /generate-pdf/kepmendagmerek/outbound:
    post:
      summary: Notifikasi File Baru kepmendag merek (BPDP ke SEMAI)
      description: BPDP mengirim notifikasi ke SEMAI tentang file kepmendag merek yang baru diunggah.
      tags:
        - Master KepMenDag Merek
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - file_id
                - file_url
                - category
                - request_id
              properties:
                file_id:
                  type: integer
                  description: ID file upload di database BPDP.
                  example: 1
                file_url:
                  type: string
                  format: uri
                  description: URL untuk mengakses file.
                  example: https://example.com/storage/uploads/kepmendagmerek.pdf
                category:
                  type: string
                  description: Kategori file upload "kepmendag_merek".
                  example: kepmendag_merek
                request_id:
                  type: string
                  format: uuid
                  description: UUID dari BPDP untuk request ini.
                  example: RAND-UUID
      responses:
        '200':
          description: Notifikasi berhasil diterima oleh SEMAI.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '400':
          description: Request tidak valid.
        '403':
          description: Akses ditolak.

  /generate-pdf/kepmendagmerek/inbound:
    post:
      summary: KepMenDag Merek (SEMAI ke BPDP)
      description: SEMAI mengirim data file KepMenDag Merek yang sudah diproses ke BPDP.
      tags:
        - Master KepMenDag Merek
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - file_id
                - request_id
                - category
                - row_count
                - rows
              properties:
                file_id:
                  type: integer
                  description: ID file upload di database SEMAI.
                  example: 123
                request_id:
                  type: string
                  format: uuid
                  description: UUID dari SEMAI untuk request ini.
                  example: RAND-UUID
                category:
                  type: string
                  description: Kategori file upload "kepmendag_merek".
                  example: rekening_koran
                row_count:
                  type: integer
                  description: Jumlah baris data dalam array 'rows'.
                  example: 20
                rows:
                  type: array
                  description: Isi data dalam bentuk array.
                  items:
                    type: object
                    description: Struktur data dari setiap baris.
                    required:
                      - nomor_keputusan
                      - nama_merek
                      - pemilik_merek
                      - pemroduksi_merek
                    properties:
                      nomor_keputusan:
                        type: string
                        description: Nomor keputusan (KepMenDag).
                        example: "NOMOR 2018 TAHUN 2023"
                      nama_merek:
                        type: string
                        description: Nama merek.
                        example: "AL-BAHER"
                      pemilik_merek:
                        type: string
                        description: Perusahaan yang memiliki merek tersebut.
                        example: "PT. Berkah Emas Sumber Terang"
                      pemroduksi:
                        type: string
                        description: Perusahaan yang memproduksi olahan sawit dari merek tersebut.
                        example: "PT. Batara Elok Semesta Terpadu"
            example:
              file_id: 4444
              request_id: "RAND-UUID"
              category: "kepmendag_merek"
              row_count: 30
              rows:
                - nomor_keputusan: "NOMOR 2018 TAHUN 2023"
                  nama_merek: "AL-BAHER"
                  pemilik_merek: "PT. Berkah Emas Sumber Terang"
                  pemroduksi: "PT. Batara Elok Semesta Terpadu"
      responses:
        '200':
          description: Data berhasil diterima dan diproses oleh BPDP.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '400':
          description: Request tidak valid.
        '403':
          description: Akses ditolak.
          
  /tarif-pungutan/outbound:
    post:
      summary: Update Tarif Pungutan (BPDP ke SEMAI)
      description: BPDP mengirimkan informasi tarif pungutan ke SEMAI untuk update.
      tags:
        - Tarif Pungutan
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - request_id
                - category
                - uraian_lhp
                - tarif_pungutan
              properties:
                request_id:
                  type: string
                  format: uuid
                  description: UUID dari BPDP.
                  example: RAND-UUID
                category:
                  type: string
                  description: Kategori tarif, contoh "tarif_pungutan".
                  example: tarif_pungutan
                uraian_lhp:
                  type: string
                  description: Uraian LHP (Laporan Hasil Pemeriksaan).
                  example: "Uraian LHP Contoh"
                tarif_pungutan:
                  type: string
                  description: Nilai tarif pungutan.
                  example: "20%"
      responses:
        '200':
          description: Data tarif berhasil diupdate di SEMAI.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '400':
          description: Request tidak valid.

  /tarif-pungutan/inbound:
    post:
      summary: Permintaan Tarif Pungutan (SEMAI ke BPDP)
      description: SEMAI meminta data tarif pungutan yang lebih detail dari BPDP.
      tags:
        - Tarif Pungutan
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - request_id
                - category
                - kelompok_tarif
                - nilai_tarif
                - satuan_nilai_tarif
              properties:
                request_id:
                  type: string
                  format: uuid
                  description: UUID dari SEMAI.
                  example: RAND-UUID
                category:
                  type: string
                  description: Kategori tarif, contoh "tarif_pungutan".
                  example: tarif_pungutan
                kelompok_tarif:
                  type: string
                  description: Kelompok tarif (I, II, III, IV, dll.).
                  example: "I,II,III,IV"
                nilai_tarif:
                  type: string
                  description: Nilai tarif yang berlaku.
                  example: "20, 7.5, 5"
                satuan_nilai_tarif:
                  type: string
                  description: Satuan dari nilai tarif (percent, usd).
                  example: "percent, usd"
      responses:
        '200':
          description: Data tarif berhasil dikirim ke SEMAI.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '400':
          description: Request tidak valid.

components:
  schemas:
    ApiResponse:
      type: object
      properties:
        status:
          type: integer
          description: HTTP status code.
          example: 200
        message:
          type: string
          description: Deskripsi status respons.
          example: success
        data:
          type: object
          nullable: true
          description: Objek data opsional.
          example: {}