openapi: 3.1.0
info:
  title: API Integrasi BPDP - SEMAI
  description: |-
    Spesifikasi API untuk pertukaran data antara sistem BPDP dan SEMAI, mencakup manajemen file dan tarif pungutan.

    * _untuk *url dan paramater* masih bisa disesuaikan, ini gambaran kebutuhan untuk sistem levy (sibilly)_
  version: 1.0.0
servers:
  - url: https://api.bpdp.com/v1
    description: Server API BPDP
  - url: https://api.semai.com/v1
    description: Server API SEMAI
tags:
  - name: Rekening Koran
    description: API untuk rekening koran.
  - name: Master HPE
    description: API untuk rekening koran.
  - name: Tarif Pungutan
    description: API untuk sinkronisasi data tarif pungutan.
paths:
  /generate-pdf/outbound:
    post:
      summary: Notifikasi File Baru Rekening KORAN (BPDP ke SEMAI)
      description: BPDP mengirim notifikasi ke SEMAI tentang file REKENING KORAN yang baru diunggah. SEMAI akan memproses file tersebut menggunakan URL yang diberikan.
      tags:
        - Rekening Koran
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - file_id
                - request_id
                - category
                - row_count
                - rows
              properties:
                file_id:
                  type: integer
                  description: ID file upload di database SEMAI.
                  example: 123
                request_id:
                  type: string
                  format: uuid
                  description: UUID dari SEMAI untuk request ini.
                  example: "RAND-UUID"
                category:
                  type: string
                  description: Kategori file upload.
                  enum:
                    - rekening_koran
                    - kepmendag_merk
                  example: "rekening_koran"
                row_count:
                  type: integer
                  description: Jumlah baris data dalam array 'rows'.
                  example: 2
                rows:
                  type: array
                  description: Isi data dalam bentuk array.
                  items:
                    oneOf:
                      - $ref: '#/components/schemas/RekeningKoranData'
                      - $ref: '#/components/schemas/KepmendagMerkData'
            example:
              file_id: 123
              request_id: "RAND-UUID"
              category: "rekening_koran"
              row_count: 1
              rows:
                - tanggal_transaksi: "2025-01-01"
                  bank: "BCA"
                  kode_billing: "1234567890"
                  jumlah_pungutan: 100000.00
      responses:
        '200':
          description: Notifikasi berhasil diterima oleh SEMAI.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '400':
          description: Request tidak valid.
        '403':
          description: Akses ditolak.

  /generate-pdf/inbound:
    post:
      summary: Transfer Data dari File Rekening koran (SEMAI ke BPDP)
      description: SEMAI mengirim data yang sudah diproses dari file Rekening Koran ke BPDP.
      tags:
        - Rekening Koran
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - file_id
                - request_id
                - category
                - row_count
                - rows
              properties:
                file_id:
                  type: integer
                  description: ID file upload di database SEMAI.
                  example: 123
                request_id:
                  type: string
                  format: uuid
                  description: UUID dari SEMAI untuk request ini.
                  example: RAND-UUID
                category:
                  type: string
                  description: Kategori file upload, seperti "rekening_koran", "master_hpe", dll.
                  example: rekening_koran
                row_count:
                  type: integer
                  description: Jumlah baris data dalam array 'rows'.
                  example: 20
                rows:
                  type: array
                  description: Isi data dalam bentuk array.
                  items:
                    type: object
                    description: Struktur data dari setiap baris.
                    required:
                      - tanggal_transaksi
                      - bank
                      - kode_billing
                      - jumlah_pungutan
                    properties:
                      tanggal_transaksi:
                        type: string
                        format: date
                        description: Tanggal transaksi.
                        example: "2025-01-01"
                      bank:
                        type: string
                        description: Nama bank.
                        example: "BCA"
                      kode_billing:
                        type: string
                        description: Kode billing.
                        example: "1234567890"
                      jumlah_pungutan:
                        type: number
                        format: float
                        description: Jumlah pungutan dalam bentuk angka.
                        example: 100000.00
            example:
              file_id: 123
              request_id: "RAND-UUID"
              category: "rekening_koran"
              row_count: 20
              rows:
                - tanggal_transaksi: "2025-01-01"
                  bank: "BCA"
                  kode_billing: "1234567890"
                  jumlah_pungutan: 100000.00
      responses:
        '200':
          description: Data berhasil diterima dan diproses oleh BPDP.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '400':
          description: Request tidak valid.
        '403':
          description: Akses ditolak.
          
  /tarif-pungutan/outbound:
    post:
      summary: Update Tarif Pungutan (BPDP ke SEMAI)
      description: BPDP mengirimkan informasi tarif pungutan ke SEMAI untuk update.
      tags:
        - Tarif Pungutan
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - request_id
                - category
                - uraian_lhp
                - tarif_pungutan
              properties:
                request_id:
                  type: string
                  format: uuid
                  description: UUID dari BPDP.
                  example: RAND-UUID
                category:
                  type: string
                  description: Kategori tarif, contoh "tarif_pungutan".
                  example: tarif_pungutan
                uraian_lhp:
                  type: string
                  description: Uraian LHP (Laporan Hasil Pemeriksaan).
                  example: "Uraian LHP Contoh"
                tarif_pungutan:
                  type: string
                  description: Nilai tarif pungutan.
                  example: "20%"
      responses:
        '200':
          description: Data tarif berhasil diupdate di SEMAI.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '400':
          description: Request tidak valid.

  /tarif-pungutan/inbound:
    post:
      summary: Permintaan Tarif Pungutan (SEMAI ke BPDP)
      description: SEMAI meminta data tarif pungutan yang lebih detail dari BPDP.
      tags:
        - Tarif Pungutan
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - request_id
                - category
                - kelompok_tarif
                - nilai_tarif
                - satuan_nilai_tarif
              properties:
                request_id:
                  type: string
                  format: uuid
                  description: UUID dari SEMAI.
                  example: RAND-UUID
                category:
                  type: string
                  description: Kategori tarif, contoh "tarif_pungutan".
                  example: tarif_pungutan
                kelompok_tarif:
                  type: string
                  description: Kelompok tarif (I, II, III, IV, dll.).
                  example: "I,II,III,IV"
                nilai_tarif:
                  type: string
                  description: Nilai tarif yang berlaku.
                  example: "20, 7.5, 5"
                satuan_nilai_tarif:
                  type: string
                  description: Satuan dari nilai tarif (percent, usd).
                  example: "percent, usd"
      responses:
        '200':
          description: Data tarif berhasil dikirim ke SEMAI.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '400':
          description: Request tidak valid.

components:
  schemas:
    ApiResponse:
      type: object
      properties:
        status:
          type: integer
          description: HTTP status code.
          example: 200
        message:
          type: string
          description: Deskripsi status respons.
          example: success
        data:
          type: object
          nullable: true
          description: Objek data opsional.
          example: {}

    RekeningKoranData:
      type: object
      description: Struktur data untuk kategori 'rekening_koran'.
      required:
        - tanggal_transaksi
        - bank
        - kode_billing
        - jumlah_pungutan
      properties:
        tanggal_transaksi:
          type: string
          format: date
          example: "2025-01-01"
        bank:
          type: string
          example: "BCA"
        kode_billing:
          type: string
          example: "1234567890"
        jumlah_pungutan:
          type: number
          format: float
          example: 100000.00

    KepmendagMerkData:
      type: object
      description: Struktur data untuk kategori 'kepmendag_merk'.
      required:
        - nama_merek
        - pemilik_merek
        - pemroduksi_merek
        - nomor_keputusan
      properties:
        nama_merek:
          type: string
          example: "AFRICA SUPER OLIO"
        pemilik_merek:
          type: string
          example: "PT. Berkah Emas Sumber Terang"
        pemroduksi_merek:
          type: string
          example: "PT. Royal Industries Indonesia"
        nomor_keputusan:
          type: string
          example: "NOMOR 2018 TAHUN 2023"
    